body {
  font-family: 'Heebo', 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(https://github.com/adarsh-priydarshi-5646/Sleep-Improvement-Guide/blob/main/background.png);
  background-color: #0d0a2cbf;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:20px;
  background-image: url(https://github.com/adarsh-priydarshi-5646/Sleep-Improvement-Guide/blob/main/bgn.png);
  color: white;
  position: fixed;
  height: 50px;
  width: 100%;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar ul li {
  margin: 0 15px;
  list-style-type: none;
  
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbar ul li a:hover {
  color: #1abc9c;
  animation: 2s;
}

.logo {
  height: 80px;
  width: auto;
  border-radius: 50%;
}

#aboutdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 1180px;
  background-color: #0d0a2cbf;
  border-radius: 8px;
}

#content {
  max-width: 600px;
  margin-top: 20px;
  padding-left: 10px;
}

#content h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: 1.4;
  margin-top: 100px;
  color: white;
}

#content p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: white;
}

.baccha img {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 90px;
}

@media (max-width: 768px) {
  #aboutdiv {
      flex-direction: column;
      text-align: center;
  }

  .baccha img {
      margin-top: 2rem;
  }
}

.routine {
  max-width: 1200px; 
  margin: 20px auto;
  padding: 20px;
  background-image: url(https://github.com/adarsh-priydarshi-5646/Sleep-Improvement-Guide/blob/main/bath.png);
  background-color: #0d0a2cbf;
  border: 1px solid #0d0a2cbf;
  border-radius: 10px;
}

.routine h1{
  font-size: 40px;
  text-align: center;
  padding: 30px;
  margin-bottom: 20px;
  color:wheat;
  font-family: "Montserrat", sans-serif;
}

.routine-item {
  margin-bottom: 20px;
  padding: 15px;
  background-color:#0d0a2cbf; 
  border: 1px solid #854949;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.routine-item:hover {
  
  transform: translateY(-8px);
  
}

.routine-item h2 {
  font-size: 22px;
  margin-bottom: 10px;
  color: wheat;
  font-family: "Montserrat", sans-serif;
}

.routine-item p {
  font-size: 16px;
  color: wheat;
  font-family: "Heebo", sans-serif;
}

@media (max-width: 768px) {
  .routine {
      padding: 15px;
  }

  .routineh1 h1 {
      font-size: 24px;
  }

  .routine-item h2 {
      font-size: 20px;
  }

  .routine-item p {
      font-size: 14px;
  }
}

.container {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  background-image: url(bgn.png);
}

.text-content {
  width: 50%;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: aliceblue;
  margin-bottom: 100px;
  padding-left: 20px;
}

.item {
  margin-bottom: 80px;
  padding-left: 20px;
}

.item h2 {
  font-size: 24px;
  margin: 0 0 10px;
  color: wheat;
}

.item p {
  font-size: 1rem;
  line-height: 1.5;
  color: azure;
}

.image-container {
  max-width: 40%;
  display: flex;
  justify-content: center;
}

.image-container img {
  max-width: 100%;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .text-content,
  .image-container {
    max-width: 100%;
  }
}


